<!DOCTYPE html>
<html>

<head>
</head>

<body style="background-color: #000; font-family: 'Trebuchet MS',Tahoma, Arial, sans-serif;">
    <table style="margin: 0px 50px 0px 50px; padding: 10px 10px 10px 10px; background-color: #fff; border: #000 solid 20px 0px 20px 0px; ">
        <tbody style="text-align: center;">
            <tr>
                <td><img src={0} width="114" /></td>
            </tr>
            <tr style="font-size: 18px;">
                   <td>Beste {naam}</td>
            </tr>
            <tr>
                <td>
                    {danku}
                </td>
            </tr>
            <tr>
                <td>
                    {bodyvoorlink} <a href="{link}">hier</a> {bodynalink}
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>